# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
MFCSerial12.ncb
Debug/MFCSerial12.ilk
Debug/MFCSerial12.pdb
MFCSerial12/Debug/BuildLog.htm
MFCSerial12/Debug/MFCSerial12.exe.embed.manifest
MFCSerial12/Debug/MFCSerial12.exe.embed.manifest.res
MFCSerial12/Debug/MFCSerial12.exe.intermediate.manifest
MFCSerial12/Debug/MFCSerial12.res
MFCSerial12/Debug/mt.dep
MFCSerial12/Debug/RCa01128
MFCSerial12/Debug/vc90.idb
MFCSerial12/Debug/vc90.pdb
MFCSerial12/MFCSerial12.aps
MFCSerial12.suo
MFCSerial12.suo
*.suo
